.App {
  text-align: center;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiDrawer-paperAnchorDockedBottom {
  border-top: 0px;
}
